.card-img-container {
    height: 200px; 
    overflow: hidden; 
  }
  
.card-img {
  object-fit: cover; 
  height: 100%;
  width: 100%; 
}
  
.card-description {
  height: 80px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.shadow-sm {
  box-shadow: 1px 4px 6px black(1, 1, 1, 1); 
}