.NavbarSpacing {
    background-color: #3e6c80;
    width: 100%;
    align-items: center;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 6px, rgba(0, 0, 0, 0.247) 0px 3px 6px;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
}

.urbanLettLogo {
    width: 250px;
    height: 50px;
}

.nav-link {
    color: white;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.cities-link {
    padding: 10px;
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}

.dropdown-search {
    display: 'block';
    position: 'absolute'
}

.searchBar {
    width: 406.21px;
    border-radius: 0px;
    border-right: none;
    border: none;
}

.searchResults {
    width: 446.21px;
    position: absolute;
    height: 309px;
    top: 50px;
    right: 62px;
    overflow: scroll;
    border-radius: 0px;
}

.glass {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: white;
    margin-right: 60px;
    border-left: none;
}

.searchBarImage {
    width: 90px;
    height: auto;
}

@media screen and (min-width: 480px) {
    .searchBar {
        width: 406.21px;
    }

    .searchResults {
        width: 446.21px;
        position: absolute;
    }

    .glass {
        width: 40px;
        height: 40px;
        position: relative;
        background-color: white;
        margin-right: 60px;
        border-left: none;
    }

    .searchBarImage {
        width: 90px;
        height: auto;
    }
}

.results-container,
.text-results,
.pay-results {
    display: flex;
}

.text-results {
    margin-left: 5px;

}

.results-container {
    align-items: center;
}