.NavbarSpacing {
    width: 100%;
    align-items: right;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 6px, rgba(0, 0, 0, 0.247) 0px 3px 6px;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: white;
}


